@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


body {
  font-family: "Source Sans 3", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    font-family: 'Rubik';
  }

  code {
    font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

  pre {
    font-family: "Source Code Pro", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }
}
