// Enable smooth scrolling
html {
  scroll-behavior: smooth;
}

// Hide navbar on small/medium screens
#page-container nav {
  display: none;
}

@include large {

  // Style table of content
  /** page layout **/
  #page-container {
    background-color: $section-bg-color;
    display: grid;
    grid-template-columns: 1fr 15em;
    max-width: 100em;
    width: 90%;
    margin: 0 auto;
  }

  #page-container .main-content {
    padding-top: 0;
  }

  // Make nav sticky
  #page-container nav {
    display: block;
    position: sticky;
    top: 0;
    padding-bottom: .4rem;
    align-self: start;
    background-color: $section-bg-color;

    ul,
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-left: 1rem;
    }
  }

  .pages-nav {
    padding: .4rem 0;
  }

  // ScrollSpy active styles (see toc.js tab for activation)
  nav li.active>a {
    color: $nav-text-active-color;
    font-weight: 500;
  }

  #page-container .pages-nav > ul {
    display: flex;
    width: 100%;
  }

  #page-container .pages-nav li {
    margin-left: 1.5rem;
    text-wrap: nowrap;
  }

  #page-container .pages-nav li:first-of-type {
    margin-left: .5rem;
  }

  #page-container .section-nav > ul {
    margin-top: 4rem;
  }

  #page-container .section-nav>ul {
    padding-left: 0;
    border-left: 1px solid $nav-border-color;
  }

  nav a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: $nav-text-color;
    transition: all 50ms ease-in-out;
    /* 💡 This small transition makes setting of the active state smooth */
  }

  nav a:hover,
  nav a:focus {
    color: $nav-text-focus-color;
  }
}